<nav class="navbar">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-32 items-center justify-between">
      <div class="flex flex-1 items-center justify-start sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <a href="/studentdashboard">
            <img class="h-24 w-auto" src="<%= asset_path('logo.png') %>" alt="Logo">
          </a>
        </div>
      </div>

      <div class="logout-btn-container">
        <button type="button" id="logout-btn">Logout</button>
      </div>
    </div>
  </div>
</nav>

<%= javascript_include_tag('login.js')%>