<%= javascript_include_tag('dropCourse.js')%>

<%= render 'layouts/navbar' %>

<div class="courses-title-container">
    <h3> DROP COURSE </h3>
</div>

<div class="drop-courses-container">
    <table>
        <tr>
            <th> Class Nbr </th>
            <th> Course </th>
            <th> Section </th>
            <th> Faculty </th>
            <th> Day/s </th>
            <th> Time </th>
            <th> Room </th>
            <th> </th>
        </tr>

        <!-- SAMPLE DATA ONW WHAT ITS SUPPOSED TO LOOK LIKE -->
        <tr>
            <td> 1110 </td>
            <td> GERIZAL </td>
            <td> Y14 </td>
            <td> Juan Santos </td>
            <td> TF </td>
            <td> 1100-1230 </td>
            <td> LS332 </td>
            <td class="drop-cell" data-class-id=1> <button class="dropBtn" data-class-id="1"> DROP </button> </td>
        </tr>

        <tr>
            <td> 1210 </td>
            <td> LCASEAN </td>
            <td> Y15 </td>
            <td> Jane Santos </td>
            <td> TF </td>
            <td> 1245-1415 </td>
            <td> LS331 </td>
            <td class="drop-cell" data-class-id=2> <button class="dropBtn" data-class-id="2"> DROP </button> </td>
        </tr>

        <%#  %>
    </table>
</div>

<div class="drop-modal" id="dropModal">
    <div class="modal">
      <h3>Are you sure to drop this course?</h3>
      <div class="modal-buttons">
        <button id="confirm-btn-drop" >Confirm</button>
        <button id="cancel-btn-drop" >Cancel</button>
      </div>
    </div>
  </div>
</div>