<%= render 'layouts/navbar' %>

<div class="courses-title-container">
    <h3> View Grades </h3>
</div>

<div class="academic-year-container">
    <h2> A.Y. : 2024-2025</h2>
</div>

<div class="enroll-courses-container">
    <table>
        <tr>
            <th> Course </th>
            <th> Grade </th>
        </tr>

        <!-- SAMPLE DATA ONW WHAT ITS SUPPOSED TO LOOK LIKE -->
        <tr>
            <td> GERIZAL </td>
            <td> 4.0 </td>
        </tr>

        <tr>
            <td> LCASEAN </td>
            <td> 3.5 </td>
        </tr>
    </table>
</div>