<div class="flex h-screen">
  <div class="w-full bg-gray-100 lg:w-1/2 flex items-center justify-center" id="login-container">
    <div class="max-w-md w-full p-6">
      <h1 class="text-3xl font-semibold mb-6 text-center login-text">Login to your account</h1>
      <div class="mt-4 flex flex-col lg:flex-row items-center justify-between"> </div>
      <form action="#" method="POST" class="space-y-4">
        <div>
          <label for="idNumber" class="block text-sm font-medium login-text">ID Number</label>
          <input type="text" id="idNumber" name="idNumber" class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300">
        </div>
        <div>
          <label for="password" class="block text-sm font-medium login-text">Password</label>
          <input type="password" id="password" name="password" class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300">
        </div>
        <span class="error-message"> *Incorrect ID Number or Password </span>
        <div>
          <button type="submit" class="w-full text-white p-2 rounded-md focus:outline-none focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300 loginBtn">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div class="color-panel lg:w-1/2">
    <%= image_tag("logo.png", :alt => "logo", class: "logo-img") %>
  </div>
</div>