<%= render 'layouts/navbarFaculty' %>

<div class="faculty-info-container">
    <div class="faculty-info">
        <h3> Faculty Name: <span class="faculty-name">Ramon Freeman</span></h3>
        <h3> ID Number: <span class="faculty-id">12187543</span></h3>
    </div>
</div>

<div class="faculty-dashboard-container">
  <a href="/addgrades" class="faculty-dashboard-item"> ADD GRADES </a>
</div>