<%= javascript_include_tag('getProfessorDashboard.js')%>
<%= render 'layouts/navbarFaculty' %>

<div class="faculty-info-container">
    <div class="faculty-info">
        <h3> Faculty Name: <span class="faculty-name" id = "faculty-name"></span></h3>
        <h3> ID Number: <span class="faculty-id" id= "faculty-id"></span></h3>
    </div>
</div>

<div class="faculty-dashboard-container">
  <a href="/addgrades" class="faculty-dashboard-item"> ADD GRADES </a>
</div>