<%= render 'layouts/navbar' %>

<div class="faculty-info-container">
    <div class="faculty-info">
        <h3> Faculty Name: </h3>
        <h3> ID Number: </h3>
    </div>
</div>

<div class="faculty-dashboard-container">
  <div class="faculty-dashboard-item"> ADD GRADES </div>
</div>