<%= render 'layouts/navbar' %>

<div class="courses-title-container">
    <h3> ENROLLMENT </h3>
</div>

<% if !!@err then %>
    <h2>Error: Feature currently down or unavailable.</h2>
    <%= @err %>T
<% else %>
    <div class="view-courses-container">
        <table>
            <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Maximum Capacity</th>
                    <th>Enrolled</th>
                    <th>Section</th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="course-table">
              
            </tbody>
        </table>
    </div>
<% end %>

<!-- Search Course Input -->
<div class="search-course-container">
    <input type="search" id="search-input" placeholder="Enter Course ID" class="max-w-xs p-3 bg-gray-100 border rounded-md shadow-md">
    <button id="search-button" class="mt-2 p-3 rounded-xl shadow-md addCartBtn">Enroll</button>
</div>

<%= javascript_include_tag('enrollCourse.js')%>