<%= javascript_include_tag('addClass.js')%>
<%= render 'layouts/navbar' %>

<div class="courses-title-container">
    <h3> ENROLLMENT </h3>
</div>

<div class="view-courses-container">

     <table>
            <thead>
                <tr>
                    <th>Course id</th>
                    <th>Course code</th>
                    <th>Course name</th>
                    <th>Maximum capacity</th>
                    <th>enrolled</th>
                    <th>section</th>
                </tr>
            </thead>

            <tbody id="enroll-course-table">

            </tbody>
        </table>
</div>

<div class="search-course-container">
    <form class="enroll-form mt-6" id="enrollment-form">
        <input type="number" id="courseIdInput" placeholder="Enter course id" class="w-full p-3 bg-gray-100 border rounded-md shadow-md">
        <button type="submit" class="mt-2 w-full p-3 rounded-xl shadow-md" id= "submit-enroll">Enroll</button>
    </form>
</div>


<%# <div class="proceed-container">
    <a href="/enrollcourse" class="mt-2 w-[10%] p-3 rounded-xl shadow proceedBtn"> 
        <button type="submit">Enroll</button>
    </a>
</div> %>