<%= render 'layouts/navbar' %>

<div class="courses-title-container">
    <h3> ENROLLMENT STEP 2: ENROLL CLASSES </h3>
</div>

<div class="view-courses-container">
    <table>
        <tr>
            <th> Class Nbr </th>
            <th> Course </th>
            <th> Section </th>
            <th> Faculty </th>
            <th> Day/s </th>
            <th> Time </th>
            <th> Room </th>
        </tr>

        <!-- SAMPLE DATA ONW WHAT ITS SUPPOSED TO LOOK LIKE -->
        <tr>
            <td> 1110 </td>
            <td> GERIZAL </td>
            <td> Y14 </td>
            <td> Juan Santos </td>
            <td> TF </td>
            <td> 1100-1230 </td>
            <td> LS332 </td>
        </tr>
    </table>
</div>

<div class="enroll-container">
    <a href="/enrollsummary" class="mt-2 w-[10%] p-3 rounded-xl shadow enrollBtn"> 
        <button type="submit">Enroll</button>
    </a>
</div>