<%= javascript_include_tag('viewCourse.js')%>

<%= render 'layouts/navbar' %>

<div class="courses-title-container">
    <h3> VIEW AVAILABLE COURSES </h3>
</div>

<% if !!@err then %>
    <h2>Error: Feature currently down or unavailable.</h2>
    <%= @err %>
<% else %>
    <div class="view-courses-container">
        <table>
            <thead>
                <tr>
                    <th>Course code</th>
                    <th>Course name</th>
                    <th>Maximum capacity</th>
                    <th>enrolled</th>
                    <th>section</th>
                </tr>
            </thead>

            <tbody id="course-table">

            </tbody>
        </table>
</div>

<%# <div class="back-container">
    <a href="/searchcourse" class="mt-2 w-[10%] p-3 rounded-xl shadow backBtn"> 
        <button type="submit">Back</button>
    </a>
</div> %>
<% end %>