<%= render 'layouts/navbar' %>

<div class="courses-title-container">
    <h3> VIEW AVAILABLE COURSES </h3>
</div>

<div class="view-courses-container">
    <table>
        <tr>
            <th> Class Nbr </th>
            <th> Course </th>
            <th> Section </th>
            <th> Faculty </th>
            <th> Day/s </th>
            <th> Time </th>
            <th> Room </th>
            <th> Enrl Cap </th>
            <th> Enrolled </th>
            <th> Remarks </th>
        </tr>

        <!-- SAMPLE DATA ONW WHAT ITS SUPPOSED TO LOOK LIKE -->
        <tr>
            <td> 1110 </td>
            <td> GERIZAL </td>
            <td> Y14 </td>
            <td> Juan Santos </td>
            <td> TF </td>
            <td> 1100-1230 </td>
            <td> LS332 </td>
            <td> 45 </td>
            <td> 0 </td>
            <td> HYBRID </td>
        </tr>
    </table>
</div>

<div class="back-container">
    <a href="/searchcourse" class="mt-2 w-[10%] p-3 rounded-xl shadow backBtn"> 
        <button type="submit">Back</button>
    </a>
</div>