<%= javascript_include_tag('getStudentDashboard.js')%>

<%= render 'layouts/navbar' %>

<div class="student-info-container">
    <div class="student-info">
        <h3> Student Name: <span class="student-name" id="student-name"></span></h3>
        <h3> ID Number: <span class="student-id" id="student-id"></span></h3>
    </div>
</div>

<div class="student-dashboard-container">
  <a href="/searchcourse" class="student-dashboard-item"> VIEW COURSES </a>
  <a href="/enrolldashboard" class="student-dashboard-item"> ENROLL COURSES </a>
  <a href="/student_viewgrades" class="student-dashboard-item"> VIEW GRADES </a>
</div>