<%= render 'layouts/navbar' %>

<div class="student-info-container">
    <div class="student-info">
        <h3> Student Name: </h3>
        <h3> ID Number: </h3>
    </div>
</div>

<div class="student-dashboard-container">
  <a href="/searchcourse" class="student-dashboard-item"> VIEW COURSES </a>
  <a href="/enrolldashboard" class="student-dashboard-item"> ENROLL COURSES </a>
  <a href="" class="student-dashboard-item"> VIEW GRADES </a>
</div>